.card-wrapper {
  width: 30%;
  float: left;
  text-align: center;
  position: relative;
}

.card-wrapper:nth-child(1), .card-wrapper:nth-child(2) {
  margin-right: 10px;
}

.card-sold {
  position: absolute;
  bottom: 50%;
  left: calc( 50% - 70px );
  font-size: 300%;
  color: red;
  text-shadow: 3px 2px 2px white;
}

.card-img {
  width: 90%;
  height: 200px;
  margin: 0 auto;
  background-size: cover;
}

.card-copy {
  text-align: left;
  padding: 0 5%;
}

.is-clicked {
  border-width: 5px !important;
  background-color: lightsteelblue;
}
